Laba5/Laba5/Web References/localhost/MessageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://endpoint.service/" targetNamespace="http://endpoint.service/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getMessage" type="tns:getMessage" />
  <xs:element name="getMessageResponse" type="tns:getMessageResponse" />
  <xs:complexType name="getMessage">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getMessageResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>